body{
    background-color: bisque;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png);
    background-repeat: no-repeat;
}
h1 {
    text-align: center;
    text-decoration: solid;
    color:rosybrown;
    text-indent: 30px;
}
h2 {
    text-align: center;
    color: rgb(130, 57, 44);
}
h3 {
    text-align: center;
    color: black;
    text-decoration: dotted;
}
p {
    text-align: justify;
    color: black;
    letter-spacing: normal;
}
.fak:link{
    color: chocolate;
}
.fak:hover{
    color:darkmagenta;
}
.fak:active{
    font-style: normal;
}
.fak:visited{
    color: royalblue;
}